.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movies-container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.movie-card {
  height: 60vh;
  width: 20%;
  margin: 5px;
  box-shadow: 0 0 15px 0 #111;
  margin-bottom: 5%;
}
.movie-card-pic {
  height: 60vh;
  margin-bottom: 4%;
}
.movie-card :hover {
  border: 2px solid rgb(5, 5, 5);
  box-shadow: 0 0 20px 0 #111;
  margin-bottom: 2%;
}
